/*-- Fonts --*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1EBBA3;
  margin: 0 auto 2rem;
}

/*-- Navigation --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
  height: 4.1rem;
}

.navbar-brand img {
  height: 3rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: #1EBBA3;
}

/*-- End Navigation --*/

/*-- Landing Page --*/

.home-inner {
  background-image: url(../img/bg.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.6) !important;
  padding-top: 10px;
}

.caption h1 {
  font-weight: 700;
  letter-spacing: .3rem;
}

.caption h3 {
  font-weight: 700;
}

.btn-lg {
  width: 15rem;
  margin: .5rem;
  border-width: medium;
  padding: .6rem 1.3rem;
  font-size: 1.3rem;
}

.btn-lg:hover {
  background-color: #1EBBA3;
  border-color: #1EBBA3;
  font-weight: bold;
}
/*-- End Landing Page --*/

label {
  letter-spacing: .1rem;
}

.btn-secondary {
  border-width: medium;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}

.btn-secondary:hover, .btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
}

.narrow {
  width: 75%;
  margin: 1rem auto;
}

footer {
  background-color: #40474E;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 5rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: #1EBBA3 !important;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid white;
  margin-top: 3rem;
}

.fixed {
  background-image: url(../img/bg2.jpg);
  z-index: -1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.customRow{
  height: 100%;
}

.contact{
  font-size: 1rem;
}